<!-- <div class="container">
  <div class="centered-form">
    <form [formGroup]="myForm">
      <div>
        <label for="firstName">First Name<span>*</span></label>
        <input type="text" id="firstName" style="margin-left: 33px;" formControlName="firstName" required>
        <div *ngIf="myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched" class="error-message">
          <span *ngIf="myForm.get('firstName')?.errors?.required">First Name is required.</span>
        </div>
      </div>
      <br>
      <div>
        <label for="firstName">Last Name<span>*</span></label>
        <input type="text" id="lastName" style="margin-left: 35px;" formControlName="lastName" required>
        <div *ngIf="myForm.get('lastName')?.invalid && myForm.get('lastName')?.touched" class="error-message">
          <span *ngIf="myForm.get('lastName')?.errors?.required">Last Name is required.</span>
        </div>
      </div>
      <br>
      <div>
        <label for="dob">Date of Birth<span>*</span></label>
        <input type="date" id="dob" style="margin-left: 23px;" formControlName="dob">
        <div *ngIf="myForm.get('dob')?.invalid && myForm.get('dob')?.touched">
          <span *ngIf="myForm.get('dob')?.errors?.required">Date of Birth is required.</span>
          <span *ngIf="myForm.get('dob')?.errors?.invalidAge">Age must be at least 18.</span>
        </div>
      </div>
      <br>
      <div>
        <label for="email">Email</label>
        <input type="text" style="margin-left: 76px;" id="email" formControlName="email">
      </div>
      <br>
      <div>
        <label for="phoneNumber">Mobile Number<span>*</span></label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber">
        <div *ngIf="myForm.get('phoneNumber')?.invalid && myForm.get('phoneNumber')?.touched" class="error-message">
          <span *ngIf="myForm.get('phoneNumber')?.errors?.required">Mobile Number is required.</span>
        </div>
      </div>
      <br>
      <div>
        <label for="proofType"> Id prooftype<span>*</span></label>
        <select formControlName="proofType" style="margin-left: 22px;" id="proofType" required>
          <option value="" disabled selected>Select your proofType</option>
          <option value="adhar"> aadhaar</option>
          <option value="pan"> pan </option>
          <option value="passport">passport</option>
          <option value="driving license">driving license</option>
          <option value="voter id">voter id</option>
        </select>
        <div *ngIf="myForm.get('proofType')?.invalid && myForm.get('proofType')?.touched" class="error-message">
          <span *ngIf="myForm.get('proofType')?.errors?.required">Id prooftype is required.</span>
        </div>
      </div>
      <br>
      <div>
        <label for="idNumber">ID number<span>*</span></label>
        <input type="text" id="idNumber" style="margin-left: 30px;" formControlName="idNumber">
        <div *ngIf="myForm.get('idNumber')?.invalid && myForm.get('idNumber')?.touched" class="error-message">
          <span *ngIf="myForm.get('idNumber')?.errors?.required">Mobile Number is required.</span>
        </div>
      </div>
      <br>
      <div>
        <label for="addr1">Address line 1<span>*</span></label>
        <input type="text" id="addr1" style="margin-left: 8px;" formControlName="addr1">
        <div *ngIf="myForm.get('addr1')?.invalid && myForm.get('addr1')?.touched" class="error-message">
          <span *ngIf="myForm.get('addr1')?.errors?.required">Address line is required.</span>
        </div>
      </div>
      <br>
      <div>
        <label for="addr2">Address line 2</label>
        <input type="text" id="addr2" style="margin-left: 16px;" formControlName="addr2">
      </div>
      <br>
      <div>
        <label for="addr3">Address line 3</label>
        <input type="text" id="addr3" style="margin-left: 16px;" formControlName="addr3">
      </div>
      <br>
      <div>
        <label for=" landmark"> Landmark</label>
        <input type="text" id="landmark" style="margin-left: 41px;" formControlName="landmark">
      </div>
      <br>
      <div>
        <label for="city">City<span>*</span></label>
        <input type="text" id="city" style="margin-left: 70px;" formControlName="city">
        <div *ngIf="myForm.get('city')?.invalid && myForm.get('city')?.touched" class="error-message">
          <span *ngIf="myForm.get('city')?.errors?.required">city is required.</span>
        </div>
      </div>
      <br>
      <div>
        <label for="state">state<span>*</span></label>
        <input type="text" id="state" style="margin-left: 70px;" formControlName="state">
        <div *ngIf="myForm.get('state')?.invalid && myForm.get('state')?.touched" class="error-message">
          <span *ngIf="myForm.get('state')?.errors?.required">state is required.</span>
        </div>
      </div>
      <br>
      <div>
        <label for="nominee"> Nominee<span>*</span></label>
        <select formControlName="nominee" style="margin-left: 39px;" id="nominee" required>
          <option value="" disabled selected>Select your Nominee</option>
          <option value="yes"> yes</option>
          <option value="no"> No </option>
        </select>
        <div *ngIf="myForm.get('nominee')?.invalid && myForm.get('nominee')?.touched" class="error-message">
          <span *ngIf="myForm.get('nominee')?.errors?.required">Nominee is required.</span>
        </div>
      </div>
      <br>
      <button type="submit" class="submit-form" [disabled]="myForm.invalid" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div> -->
<router-outlet></router-outlet>
